/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --black: rgb(0 0 0);
  --white: rgb(255 255 255);
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --width-title: clamp(0rem, -31.6901rem + 135.2113vw, 90rem);
  --clamp-title: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --clamp-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --clamp-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --clamp-height: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --clamp-header-x: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  --clamp-header-y: clamp(6.25rem, 6.25rem + 0vw, 6.25rem);
  --clamp-border-x-700: clamp(0.875rem, -6.8053rem + 32.7692vw, 7.53125rem);
  --clamp-border-y-700: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem);
  --clamp-border-x-375: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --clamp-border-y-375: clamp(7.5rem, 7.5rem + 0vw, 7.5rem);
  --clamp-card-subtitle: clamp(20.063rem, 12.91rem + 30.516vw, 40.375rem);
}
